<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>My Go HTMX Project</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {{ template "content" . }}
    </div>
</body>
</html>
